* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading #spinner {
    border: 16px solid rgba(255, 255, 255, 0.3);
    border-top: 16px solid #EEEEEE;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    animation: spin 1s linear infinite;
    z-index: 10000;
}

#loading #status {
    margin-top: 16px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: #EEEEEE;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

#popup-container #popup {
    background: #FFFFFF;
    width: 384px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    color: #000000;
    margin-bottom: 128px;
    text-align: center;
}

#popup-container #popup p {
    color: #000000;
    padding-bottom: 16px
}

#popup-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popup-container button:hover {
    background-color: #0056b3;
}

#container {
    display: grid;
    grid-template-columns: 192px 1fr;
    grid-template-rows: 64px 1fr 48px;
    height: 100vh;
}

#title {
    padding: 4px 8px;
    margin: 0;
    
}

#sidebar {
    position: relative;
}

#sidebar #filters {
    padding: 4px;
}

#sidebar #filters ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#sidebar #filters>ul>li {
    padding-left: 1em;
    text-indent: -1em;
    font-size: large;
}

#sidebar #filters>ul>li:not(:first-child) {
    padding-top: 16px;
}

#sidebar #filters>ul>li:before {
    content: "▼";
    margin-left: 3px;
    padding-right: 4px;
}

#sidebar #filters>ul>li.collapsed:before {
    content: "▲";
}

#sidebar #filters>ul>li.collapsed>ul {
    display: none;
}

#sidebar #filters>ul>li>ul>li input,
#sidebar #filters>ul>li>ul>li label {
    cursor: pointer;
}

#sidebar #filters>ul>li>ul>li {
    font-size: medium;
    display: flex;
    align-items: center;
}

#sidebar #filters>ul>li>ul>li label {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 24px;
}

#sidebar #filters>ul>li>ul>li label:hover {
    font-weight: bolder;
}

#sidebar #filters>ul>li>ul>li input {
    margin-left: -12px;
}

#sidebar #info {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 192px;
}

#sidebar #info #info-image {
    height: 84px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sidebar #info table {
    border-collapse: collapse;
    font-size: small;
    width: 100%;
}

#sidebar #info table #info-pack {
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    line-height: 16px;
}

#sidebar #info th,
#sidebar #info td {
    padding: 2px;
    text-align: left;
    width: 50%;
}

#sidebar #info #info-input,
#sidebar #info #info-gameplay {
    text-align: center;
}

#sidebar #info #info-input img,
#sidebar #info #info-gameplay img {
    height: 24px;
    width: 24px;
    padding: 0 2px;
}

#sidebar #info th {
    text-align: right;
}

#sidebar #info td {
    text-align: left;
    text-overflow: ellipsis;
}

#scale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#scale input {
    width: 100%
}

#grid {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);

    grid-row: 1/3;
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    grid-auto-rows: 120px;
    justify-content: space-between;
    grid-gap: 20px;
    padding: 16px;
}

#grid .tile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

#grid .tile:hover {
    cursor: pointer;
    outline-offset: 2px;
}

/* #grid .tile div {
    height: 100%;
} */

/* #grid .tile .image div {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    z-index: 1;
} */

#footer {
    padding: 8px;
    display: flex;
}

#footer #themes,
#footer #links {
    width: 50%;
    flex: 1px;
}

#footer #themes {
    line-height: 32px;
    display: flex;
    align-items: center;
}

#footer #themes>div {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    padding: 0px;
}

#footer #themes div div {
    cursor: pointer;
}

#footer #themes div div.left {
    width: 12px;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
}

#footer #themes div div.right {
    width: 12px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}


#footer #themes div:hover {
    cursor: pointer;
}

#footer #links {
    text-align: right;
}

#footer #links a {
    text-decoration: none;
}

#footer #links a img {
    height: 32px;
    margin-left: 4px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
    display: block;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.scrollable {
    overflow-y: auto;
}

:root {
    --highlight: #EEEEEE;
    --light: #CCCCCC;
    --background: #999999;
    --sidebar: #666666;
    --dark: #333333;
}

* {
    color: var(--highlight);
}

#sidebar #info table #info-pack,
#sidebar #info table #info-input,
#sidebar #info table #info-gameplay,
#grid .tile {
    background: var(--highlight);
}

#grid {
    background: var(--background);
}

#sidebar {
    background: var(--sidebar);
}

#title,
#scale,
#footer,
#sidebar #info {
    background: var(--dark);
}

#sidebar #info table #info-pack {
    color: var(--dark);
}

#sidebar #info #info-imag,
#scale,
#footer {
    border-top: 1px solid var(--highlight);
}

#title,
#sidebar {
    border-right: 1px solid var(--highlight);
}

#title,
#sidebar #info #info-image {
    border-bottom: 1px solid var(--highlight);
}

#sidebar #info table #info-pack {
    border-bottom: 1px solid var(--highlight);
}

#grid .tile:hover {
    outline: var(--highlight) solid 4px;
}

#footer #themes div div.left {
    border: 1px solid var(--highlight);
    border-right: 0;
}

#footer #themes div div.right {
    border: 1px solid var(--highlight);
    border-left: 0;
}