/*!
 * Box Cutter (https://github.com/shes-a-rebel/boxcutter)
 */

:root {
    --highlight: #EEEEEE;
    --light: #CCCCCC;
    --background: #999999;
    --sidebar: #666666;
    --dark: #333333;
    --button: #0000EE;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--highlight);
}

body {
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading #spinner {
    border: 16px solid rgba(255, 255, 255, 0.3);
    border-top: 16px solid #EEEEEE;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    animation: spin 1s linear infinite;
    z-index: 10000;
}

#loading #status {
    margin-top: 16px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: #EEEEEE;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

#popup-container #popup {
    background: #FFFFFF;
    width: 384px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    color: #000000;
    margin-bottom: 128px;
    text-align: center;
}

#popup-container #popup p {
    color: #000000;
    padding-bottom: 16px
}

#popup-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popup-container button:hover {
    background-color: #0056b3;
}

#container {
    display: flex;
    height: 100vh;
}

#left {
    background: var(--sidebar);
    border-right: 1px solid var(--highlight);
    display: flex;
    flex-direction: column;
    width: 192px;
}

#title {
    background: var(--dark);
    border-bottom: 1px solid var(--highlight);
    margin: 0;
    padding: 4px 8px;
    text-align: center;
}

#sorting {
    padding: 8px 8px;
}

#sorting select {
    width: 100%;
    color: var(--dark);
}

#sorting select option {
    width: 100%;
    color: var(--dark);
}

#options {
    flex: 1;
}

#filters ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#filters>ul>li {
    text-indent: 0em;
    cursor: pointer;
}

#filters>ul>li:not(:first-child) {
    margin-top: 8px;
}

#filters>ul>li:before {
    content: "▼";
    margin-left: 8px;
    padding: 0;
}

#filters>ul>li.collapsed:before {
    content: "▲";
}

#filters>ul>li.collapsed>ul {
    display: none;
}

#filters>ul>li>ul>li label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-indent: 28px;
}

#filters>ul>li>ul>li label:hover {
    background-color: var(--dark);
}

#filters>ul>li>ul>li input {
    position: absolute;
    left: 10px;
}

#scale {
    align-items: center;
    background: var(--dark);
    border-top: 1px solid var(--highlight);
    display: flex;
    justify-content: center;
    padding: 8px;
}

#scale span {
    display: block;
    padding-right: 8px;
}

#main {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
    background: var(--background);
    display: grid;
    flex: 1;
    /* align-items: start; */
    align-content: space-between;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 512px);
    grid-auto-rows: 240px;
    justify-content: space-between;
    grid-gap: 16px;
    padding: 16px;

}

#grid .game {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

#grid .game:hover {
    cursor: pointer;
    outline-offset: 2px;
    outline: var(--highlight) solid 4px;
}

#footer {
    display: grid;
    grid-template-columns: auto auto;
}

#legal {
    padding: 8px;
    font-size: smaller;
    color: var(--dark);
}

#legal a {
    color: var(--dark);
}

#links {
    text-align: right;
    padding: 8px;
}

#right {
    background: var(--sidebar);
    border-left: 1px solid var(--highlight);
    width: 256px;
    display: none;
}

#info-header {
    border-bottom: 1px solid var(--highlight);
    background: var(--dark);
    text-align: center;
}

#info-image {
    width: 256px;
    height: 117px;
}

#info-game {
    border-top: 1px solid var(--highlight);
    font-weight: bold;
}

#info-game,
#info-collection {
    padding: 4px;
}

#info-body {
    display: grid;
    grid-template-columns: 116px 116px;
    justify-content: space-between;
    padding: 8px;
}

#info-description {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 8px;
}

#info-buttons {
    width: 256px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    bottom: 0;
    background: var(--dark);
    border-top: 1px solid var(--highlight);
}

#info-buttons>div {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
}

#info-buttons svg {
    width: 50%;
}

#info-buttons>div:hover {
    background: var(--button);
    /* color: var(--dark); */
}

/* #info-buttons>div:hover svg {
    stroke: var(--dark);
} */

#info-install {
    border-left: 1px solid var(--highlight);
    border-right: 1px solid var(--highlight);
}

#info-close {
    grid-column: 1 / span 3;
    border-top: 1px solid var(--highlight);
}

/*


#footer #links a {
    text-decoration: none;
}

#footer #links a img {
    height: 32px;
}
*/

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
    display: block;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.scrollable {
    overflow-y: auto;
}

.right {
    text-align: right;
}